
<mat-card>
    <mat-card-header>
        <mat-card-title><h3>Rebates</h3></mat-card-title>
      </mat-card-header>
      <ngx-datatable
        class="material"
        [headerHeight]="40"
        [limit]="10"
        [columnMode]="'force'"
        [footerHeight]="50"
        [rowHeight]="40"
        [rows]="rows">
        <ngx-datatable-column prop="BuyerName"  name="Rebator">
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
            <span>
              {{value}}
            </span>
          </ng-template>
        </ngx-datatable-column>   

        <ngx-datatable-column prop="CropName"  name="Crop">
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
            <span
              >
              {{value}}
            </span>
          </ng-template>
        </ngx-datatable-column>  
        <ngx-datatable-column  name="Rebate Unit">
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
            <span
              title="lb">
              lb
            </span>
          </ng-template>
        </ngx-datatable-column>  

        <ngx-datatable-column prop="Amount" name="Amount">
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
            <span
              title="{{value}}">
              {{value}}
            </span>
          </ng-template>
        </ngx-datatable-column> 
     </ngx-datatable>
    </mat-card>