<mat-card>
    <mat-card-title>Optimizer-NI</mat-card-title>
  <ag-grid-angular
      #agGrid
      style="height: 200px;" 
      id="myGrid"
      [singleClickEdit]="true"
      class="ag-theme-blue"
      (cellEditingStopped)="celleditingstopped($event)"
      [columnDefs]="columnDefs"
      [debug]="true"
      [enableSorting]="true"
      [enableFilter]="true"
      [enableColResize]="true"
      (gridReady)="onGridReady($event)"
      [frameworkComponents]="frameworkComponents"
      ></ag-grid-angular>
  </mat-card>