<div class="profile_page_wrapper">
  <div class="profile_page_content_wrapper has_sidebar">
    <!-- Sidebar -->
    <div class="sidebarHolder">
      <div class="sidebarWrap">
        <div class="sidebarContent">
          <div class="SectionSidebar_nav">
            <ul class="Section_nav">
              <li>
                <a href="loanoverview/summary/{{loanid}}">Summary</a>
              </li>
               <li >
                        <a href="loanoverview/borrower/{{loanid}}">Borrower</a>
                      </li>
                   <hr>
                  <li>
                    <a href="loanoverview/crops/{{loanid}}">Crops</a>
                  </li>
                  <hr>
                  <li>
                    <a href="loanoverview/optimizer/{{loanid}}">Optimizer</a>
                  </li>
                  <li>
                    <a href="loanoverview/collaterals/{{loanid}}">Collaterals</a>
                  </li>
                  <hr>
                  <li>
                    <a href="loanoverview/debugpage/{{loanid}}">DebugPage</a>
                  </li>
                 
                  <hr>
              
              
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="pageContent">
      <div class="">
          <router-outlet></router-outlet>
        </div>
      </div>

   
  </div>
</div>