<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h3>FSA</h3>
    </mat-card-title>
  </mat-card-header>
  <ngx-datatable class="material" [headerHeight]="40" [limit]="10" [columnMode]="'force'" [footerHeight]="50" [rowHeight]="40"
    [rows]="rows">
    <ngx-datatable-column prop="Name" name="Description">
      <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
        <span title="{{value}}">
          {{value}}
        </span>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column prop="MarketValue" name="MarketValue">
      <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
        <span title="{{value}}">
          {{value}}
        </span>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column prop="Discount" name="Discount%">
      <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
        <span title="Double dblclick to edit" (dblclick)="editing[rowIndex + '-Discount'] = true" *ngIf="!editing[rowIndex + '-Discount']">
          {{value}}
        </span>
        <input autofocus type="number" (keyup.enter)="updateValue($event, 'Discount', rowIndex)" (blur)="updateValue($event, 'Discount', rowIndex)"
          *ngIf="editing[rowIndex+ '-Discount']" [value]="value" />
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column prop="DiscountValue" name="DiscountValue">
      <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
        <span title="{{value}}">
          {{value}}
        </span>
      </ng-template>
    </ngx-datatable-column>

  </ngx-datatable>
</mat-card>