
<mat-card>
    <mat-card-header>
        <mat-card-title><h3>Buyer/Rebator Entities</h3></mat-card-title>
      </mat-card-header>
      <ngx-datatable
        class="material"
        [headerHeight]="40"
        [limit]="10"
        [columnMode]="'force'"
        [footerHeight]="50"
        [rowHeight]="40"
        [rows]="rows">
        <ngx-datatable-column prop="Name" name="Buyer/rebator">
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
            <span
              title="{{value}}">
              {{value}}
            </span>
          </ng-template>
        </ngx-datatable-column>   

        <ngx-datatable-column prop="Contact" name="Contact">
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
            <span
              title="{{value}}">
              {{value}}
            </span>
          </ng-template>
        </ngx-datatable-column>  
        <ngx-datatable-column prop="Location" name="Location">
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
            <span
              title="{{value}}">
              {{value}}
            </span>
          </ng-template>
        </ngx-datatable-column>  

        <ngx-datatable-column prop="Phone" name="Phone">
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
            <span
              title="{{value}}">
              {{value}}
            </span>
          </ng-template>
        </ngx-datatable-column> 
        
        <ngx-datatable-column prop="Email" name="Email">
            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
              <span
                title="{{value}}">
                {{value}}
              </span>
            </ng-template>
          </ngx-datatable-column> 
     </ngx-datatable>
    </mat-card>