<mat-card>
<form class="example-form">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Enter loan ID for MPCI Calculation" name="loanmodel" [(ngModel)]="loanid">
  </mat-form-field>

  <button name="btnclick" (click)="calculateMPCI()" mat-raised-button>Calculate MPCI </button>
</form> 
</mat-card>


<mat-card>
  <ag-grid-angular
    #agGrid
    style="height: 500px;" 
    id="myGrid"
    class="ag-theme-blue"
    [columnDefs]="columnDefs"
    [rowData]="rowData"
    [debug]="true"
    [enableSorting]="true"
    [enableFilter]="true"
    [enableColResize]="true"
    (gridReady)="onGridReady($event)"
    [frameworkComponents]="frameworkComponents"
    ></ag-grid-angular>
</mat-card>

MPCI Total:- {{MPCITotal}}