<button mat-button class="quickAdd" (click)="openAddCollateralModal()">
    <span class="quickAdd_btn btn green lighten-1 modal-trigger">
        <i class="material-icons left">add</i> Add New Collateral</span>
</button>
<app-equipment></app-equipment>
<app-stored-crop></app-stored-crop>
<app-real-estate></app-real-estate>
<app-cross-collateral></app-cross-collateral>>
<app-other-collateral></app-other-collateral>