
<div class="child_List_wrapper">
    <div class="header_child_list row bottom-zero">
      <div class="col l10 m12 s12 count_child">
        <p>Question Category List
           <span>(10)</span>
        </p>
      </div>
      <button mat-button class="quickAdd" (click)="openAddQuestionCategoryModal()" >
          <span class="quickAdd_btn btn green lighten-1 modal-trigger">
            <i class="material-icons left">add</i>  Add New</span>
        </button>
    </div>
    <div class="child_listing">
      <table class="data_table child_data_table responsive-table">
        <thead>
          <tr>
            <th>#</th>
            <th>Tab_ID</th>
            <th>Chevron_ID</th>
            <th>Question_Category_Type_Name</th>
            <th>Icon_Code</th>
            <th>Sort_Order</th>
            <th>Status</th>
            <th>
              <div class="action">Action</div>
            </th>
          </tr>
        </thead>
        <tbody>
  
          <tr *ngFor="let data of questionCategoryList;let i = index" class="list">
            <td>
              <div class="child_detail">
                <div class="icon">
                </div>
                <div class="name_detail">
                  <p>{{data.Question_Category_Code}}</p>
                </div>
              </div>
            </td>
            <td>
              <div class="column-icon-value email">
                <p>
                  {{data.Tab_ID}}</p>
              </div>
            </td>
            <td>
              <div class="column-icon-value email">
                <p>
                  {{data.Chevron_ID}}</p>
              </div>
            </td>
            <td>
              <div class="column-icon-value number">
                <p>
                  <mat-icon>sort</mat-icon>{{data.Question_Category_Type_Name}}</p>
              </div>
            </td>
            <td>
                <div class="column-icon-value number">
                  <p>
                    <mat-icon>sort</mat-icon>{{data.Icon_Code}}</p>
                </div>
              </td>
              <td>
                <div class="column-icon-value number">
                  <p>
                    <mat-icon>sort</mat-icon>{{data.Sort_Order}}</p>
                </div>
              </td>
            <td>
              <div class="status_child">
                  <mat-slide-toggle [checked]="data.Status" disabled="true"></mat-slide-toggle>
              </div>
            </td>
        
            <td>
              <div class="data_table_actions">
  
                <!-- Show More Tools -->
                <div class="show_hide_tools">
                  <a class="show_more_tools">
                    <i class="material-icons">more_vert</i>
                  </a>
  
                  <ul class="tools">
                      <li>
                          <a (click)="deleteLoanStatus(data.Id)">
                            <i class="material-icons">delete</i>
                          </a>
                        </li>
                    <li>
                      <a (click)="openEditLoanStatusModal(data)">
                        <i class="material-icons">mode_edit</i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="row">
        <div class="col l12 m12 s12">
          <span class="noDatafound listCenterrecord" *ngIf="questionCategoryList==undefined || questionCategoryList.length==0">
            <img src="assets/images/no-record-list.png"> No Record Found</span>
        </div>
      </div>
  
      <mat-paginator  [pageIndex]="0" [length]="20" [pageSize]="20" [pageSizeOptions]="[5, 10, 25,100]">
      </mat-paginator>
    </div>
  </div>