<mat-card>
    <mat-card-header>
        <mat-card-title>Balance History</mat-card-title>
     
    </mat-card-header>

    <ngx-datatable
    class="material"
    [headerHeight]="40"
    [limit]="10"
    [columnMode]="'force'"
    [footerHeight]="50"
    [rowHeight]="40"
    [rows]="rowsBL">
    <ngx-datatable-column prop="Name" name="Type">
      <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
        <span
          title="{{value}}">
          {{value}}
        </span>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column cellClass='cellclass' prop="Assets" name="Assets">
      <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
         <span
          title="Double dblclick to edit"
          (dblclick)="editingBS[rowIndex + '-Assets'] = true"
          *ngIf="!editingBS[rowIndex + '-Assets']">
          {{value}}
        </span>
        <input
        autofocus
        type="number"
        (keyup.enter)="updateBSValue($event, 'Assets', rowIndex)"
        (blur)="updateBSValue($event, 'Assets', rowIndex)"
        *ngIf="editingBS[rowIndex+ '-Assets']"
        [value]="value"
         />
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column prop="Discount" name="Discount">
      <ng-template ngx-datatable-cell-template let-value="value">
        {{value}}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column prop="AdjustedValue" name="AdjustedValue">
      <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value">
        {{value}}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column cellClass='cellclass' prop="Liability" name="Liability">
      <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
         <span
          title="Double dblclick to edit"
          (dblclick)="editingBS[rowIndex + '-Liability'] = true"
          *ngIf="!editingBS[rowIndex + '-Liability']">
          {{value}}
        </span>
        <input
        type="number"
        autofocus
        (keyup.enter)="updateBSValue($event, 'Liability', rowIndex)"
        (blur)="updateBSValue($event, 'Liability', rowIndex)"
        *ngIf="editingBS[rowIndex+ '-Liability']"
        [value]="value"
         />
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column prop="AdjustedNetWorth" name="AdjustedNetWorth">
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value">
          {{value}}
          </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
    </mat-card>
   