<div id="modal1" class="modal AddchildModal">
  <!-- Add collateral Modal -->
  <form #collateralForm="ngForm">
    <div class="modal-header">
      <h3 *ngIf="!isEdit">Add Collateral</h3>
      <a (click)="closeModal()" class="modal-close">
        <i class="material-icons">close</i>
      </a>
    </div>
    <div class="mt-modal-content">
      <div class="row mt-row">
        <div class="col m12">
          <div class="mat-input-field">
            <mat-form-field>
              <input matInput maxlength="30" [(ngModel)]="collateralModel.Name" name="Description" placeholder="Description" required>
            </mat-form-field>
          </div>
          <div class="col m12">
              <mat-form-field>
                <mat-select name="type" [(ngModel)]="collateralModel.Type" placeholder="Select Collateral Type">
                  <mat-option [value]="0">Other Collateral</mat-option>
                  <mat-option [value]="1">FSA</mat-option>
                  <mat-option [value]="2">Equipments</mat-option>
                  <mat-option [value]="3">Real Estate</mat-option>
                  <mat-option [value]="4">Stored Crop</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          <div class="row">
            <div class="col m6">
              <div class="mat-input-field">
                <mat-form-field>
                  <input matInput maxlength="20" [(ngModel)]="collateralModel.MarketValue" name="MarketValue" placeholder="MarketValue" required>
                </mat-form-field>
              </div>
            </div>
            <div class="col m6">
              <div class="mat-input-field">
                <mat-form-field>
                  <input matInput maxlength="20" [(ngModel)]="collateralModel.PriorLien" name="PriorLien" placeholder="PriorLien" required>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="col m6">
            <div class="mat-input-field">
              <mat-form-field>
                <input matInput maxlength="20" [(ngModel)]="collateralModel.Discount" name="Discount" placeholder="Discount%" required>
              </mat-form-field>
            </div>
          </div>
          <div class="col m6">
            <div class="mat-input-field">
              <mat-form-field>
                <input matInput maxlength="20" [(ngModel)]="collateralModel.Holder" name="Holder" placeholder="LeinHolder" required>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <a (click)="closeModal()" mat-dialog-close class="waves-effect waves-light btn-outline modal-close modal-cancel">Close</a>
      <a *ngIf="!isEdit" (click)="saveCollateral(collateralForm)" class="waves-effect waves-light btn modal-close green modal-trigger">
        <i class="material-icons right">arrow_forward</i>Save</a>
      <!-- <a *ngIf="isEdit" (click)="saveLoanStatus(loanStatusForm)" class="waves-effect waves-light btn modal-close green modal-trigger">
        Update
      </a> -->
    </div>
  </form>
</div>