
<mat-card>
    <mat-card-header>
        <mat-card-title><h3>Bookings</h3></mat-card-title>
      </mat-card-header>
      <ngx-datatable
        class="material"
        [headerHeight]="40"
        [limit]="10"
        [columnMode]="'force'"
        [footerHeight]="50"
        [rowHeight]="40"
        [rows]="rows">
        <ngx-datatable-column name="Buyer">
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
            <span
              title="{{value}}">
              {{getbuyername(rowIndex)}}
            </span>
          </ng-template>
        </ngx-datatable-column>   

        <ngx-datatable-column name="Crop">
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
            <span>
              {{getcropname(rowIndex)}}
            </span>
          </ng-template>
        </ngx-datatable-column>  
        <ngx-datatable-column prop="Quantity" name="Quantity">
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
            <span
              title="{{value}}">
              {{value}}
            </span>
          </ng-template>
        </ngx-datatable-column>  

        <ngx-datatable-column prop="Price" name="Price">
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
            <span
              title="{{value}}">
              {{value}}
            </span>
          </ng-template>
        </ngx-datatable-column> 
      
        <ngx-datatable-column name="UoM">
            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
              <span
                title="bu">
                bu
              </span>
            </ng-template>
          </ngx-datatable-column> 
     </ngx-datatable>
    </mat-card>