<mat-card>
  <mat-card-header>
      <mat-card-title><h3>Cross Collateral</h3></mat-card-title>
    </mat-card-header>
    <ngx-datatable
      class="material"
      [headerHeight]="40"
      [limit]="10"
      [columnMode]="'force'"
      [footerHeight]="50"
      [rowHeight]="40"
      [rows]="rows">
        <ngx-datatable-column prop="LoanId" name="LoanId">
          <ng-template ngx-datatable-cell-template  let-value="value" let-row="row">
            <span
              title="{{value}}">
              {{value}}
            </span>
          </ng-template>
        </ngx-datatable-column>
      
        <ngx-datatable-column prop="CrossDescriptor" name="Description">
          <ng-template ngx-datatable-cell-template  let-value="value" let-row="row">
            <span
              title="{{value}}">
              {{value}}
            </span>
          </ng-template>
        </ngx-datatable-column>

     </ngx-datatable>
    </mat-card>
 