<button color="primary" name="btnclick" (click)="loancurrentloanobject()" mat-raised-button>LoadLocalStorage</button>
<mat-card>
    <ngx-json-viewer [json]="currentloanobject"></ngx-json-viewer>
</mat-card>

