
<div class="child_List_wrapper">
    <div class="header_child_list row bottom-zero">
      <div class="col l10 m12 s12 count_child">
        <p>Loan Status List
           <span>(10)</span>
        </p>
      </div>
      <button mat-button class="quickAdd" (click)="openAddLoanStatusModal()" >
          <span class="quickAdd_btn btn green lighten-1 modal-trigger">
            <i class="material-icons left">add</i>  Add New</span>
        </button>
      <div class="col l6 m6 s12 search_child">
        <!-- <div class="input-field">
          <input [formControl]="searchControl" [(ngModel)]="searchString" placeholder="Search Child name, email" type="text" class="custom_search child_name_search"/>
          <div *ngIf="isSearching" class="lds-ripple">
            <div></div>
            <div></div>
          </div>
          <mat-icon>search</mat-icon>
        </div> -->
      </div>
    </div>
    <div class="child_listing">
      <table class="data_table child_data_table responsive-table">
        <thead>
          <tr>
            <th>#</th>
            <th>Loan Status</th>
            <th>Loan Status Name</th>
            <th>Sort Order</th>
            <th>Status</th>
            <th>
              <div class="action">Action</div>
            </th>
          </tr>
        </thead>
        <tbody>
  
          <tr *ngFor="let data of loanStatusList;let i = index" class="list">
            <td>
              <div class="child_detail">
                <div class="icon">
                </div>
                <div class="name_detail">
                  <p>{{data.Id}}</p>
                </div>
              </div>
            </td>
            <td>
              <div class="column-icon-value email">
                <p>
                  {{data.LoanStatusName}}</p>
              </div>
            </td>
            <td>
              <div class="column-icon-value email">
                <p>
                  {{data.LoanStatusName}}</p>
              </div>
            </td>
            <td>
              <div class="column-icon-value number">
                <p>
                  <mat-icon>sort</mat-icon>{{data.SortOrder}}</p>
              </div>
            </td>
            <td>
              <div class="status_child">
                  <mat-slide-toggle [checked]="data.Status" disabled="true"></mat-slide-toggle>
              </div>
            </td>
        
            <td>
              <div class="data_table_actions">
  
                <!-- Show More Tools -->
                <div class="show_hide_tools">
                  <a class="show_more_tools">
                    <i class="material-icons">more_vert</i>
                  </a>
  
                  <ul class="tools">
                      <li>
                          <a (click)="deleteLoanStatus(data.Id)">
                            <i class="material-icons">delete</i>
                          </a>
                        </li>
                    <li>
                      <a (click)="openEditLoanStatusModal(data)">
                        <i class="material-icons">mode_edit</i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="row">
        <div class="col l12 m12 s12">
          <span class="noDatafound listCenterrecord" *ngIf="loanStatusList==undefined || loanStatusList.length==0">
            <img src="assets/images/no-record-list.png"> No Record Found</span>
        </div>
      </div>
  
      <mat-paginator  [pageIndex]="0" [length]="20" [pageSize]="20" [pageSizeOptions]="[5, 10, 25,100]">
      </mat-paginator>
    </div>
  </div>