
.cellclass{
    background-color: #f48356;
    border: white;
    border-width: 0.1px;
    border-style: solid;
}

.datatable-header-cell-label{
    font-size: 9pt
}
.datatable-body-cell-label span{
    font-size: 9pt
}