<mat-card>
    <mat-card-header>
        <mat-card-title>Income History</mat-card-title>
  
    </mat-card-header>
    <ngx-datatable
    class="material data-table"
    [headerHeight]="40"
    [limit]="10"
    [columnMode]="'force'"
    [footerHeight]="50"
    [rowHeight]="40"
    [rows]="rowsIR">
    <ngx-datatable-column prop="Year" name="Year">
      <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
         <span
          title="Double dblclick to edit"
          (dblclick)="editingIR[rowIndex + '-Year'] = true"
          *ngIf="!editingIR[rowIndex + '-Year']">
          {{value}}
        </span>
        <input
        autofocus
        type="number"
        (keyup.enter)="updateIRValue($event, 'Year', rowIndex)"
        (blur)="updateIRValue($event, 'Year', rowIndex)"
        *ngIf="editingIR[rowIndex+ '-Year']"
        [value]="value"
         />
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column cellClass='cellclass' prop="Revenue" name="Revenue">
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
           <span
            title="Double dblclick to edit"
            (dblclick)="editingIR[rowIndex + '-Revenue'] = true"
            *ngIf="!editingIR[rowIndex + '-Revenue']">
            {{value}}
          </span>
          <input
          autofocus
          type="number"
          (keyup.enter)="updateIRValue($event, 'Revenue', rowIndex)"
          (blur)="updateIRValue($event, 'Revenue', rowIndex)"
          *ngIf="editingIR[rowIndex+ '-Revenue']"
          [value]="value"
           />
        </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column cellClass='cellclass' prop="Expenses" name="Expenses">
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
             <span
              title="Double dblclick to edit"
              (dblclick)="editingIR[rowIndex + '-Expenses'] = true"
              *ngIf="!editingIR[rowIndex + '-Expenses']">
              {{value}}
            </span>
            <input
            autofocus
            type="number"
            (keyup.enter)="updateIRValue($event, 'Expenses', rowIndex)"
            (blur)="updateIRValue($event, 'Expenses', rowIndex)"
            *ngIf="editingIR[rowIndex+ '-Expenses']"
            [value]="value"
             />
          </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column prop="Income" name="Income">
    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value">
        {{value}}
    </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
</mat-card>