<div class="alertModal">
  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <h2>{{this.data.title}}</h2>
    </div>
    <div class="modal-body">
      <p>{{this.data.description}}</p>
    </div>
    <div class="modal-footer">
      <div class="mat-footer-inner">
        <button mat-raised-button (click)="onOkClick()" class="mat-raised-button alertifybtndone green modal-trigger">Yes</button>
        <button mat-raised-button (click)="onCancelClick()" class=" alertifybtncancel btn-outline modal-close modal-cancel">No</button>
      </div>
    </div>
  </div>
</div>