<div id="modal1" class="modal AddchildModal">
  <!-- Add loan status Modal -->
  <form #loanStatusForm="ngForm">
    <div class="modal-header">
      <h3 *ngIf="!isEdit">Update Loan Status</h3>
      <h3 *ngIf="isEdit">Add Loan Status</h3>
      <a (click)="closeModal()" class="modal-close">
        <i class="material-icons">close</i>
      </a>
    </div>
    <div class="mt-modal-content">
      <div class="row mt-row">
        <div class="col m12">
          <div class="mat-input-field">
            <mat-form-field>
              <input matInput maxlength="30" [(ngModel)]="loanModel.LoanStatusName" name="LoanStatusName" placeholder="Loan Status Name"
                required>
            </mat-form-field>
          </div>
          <div class="row">
            <div class="col m6">
              <div class="mat-input-field">
                <mat-form-field>
                  <input matInput maxlength="20" [(ngModel)]="loanModel.SortOrder" name="SortOrder" placeholder="SortOrder" required>
                </mat-form-field>
              </div>
            </div>
            <div class="col m6">
              <mat-form-field>
                <mat-select name="IconCode" [(ngModel)]="loanModel.IconId" placeholder="Select Icon Code">
                  <mat-option *ngFor="let data of iconList" [value]="data.Id">{{data.Color}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="mat-input-field">
            <mat-slide-toggle [(ngModel)]="loanModel.Status" name="Status" class="example-margin" [checked]="loanModel.Status">
              Status</mat-slide-toggle>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <a (click)="closeModal()" mat-dialog-close class="waves-effect waves-light btn-outline modal-close modal-cancel">Close</a>
      <a *ngIf="!isEdit" (click)="saveLoanStatus(loanStatusForm)" class="waves-effect waves-light btn modal-close green modal-trigger">
        <i class="material-icons right">arrow_forward</i>Save</a>
      <a *ngIf="isEdit" (click)="saveLoanStatus(loanStatusForm)" class="waves-effect waves-light btn modal-close green modal-trigger">
        Update
      </a>
    </div>
  </form>
</div>