
<mat-card>
    <mat-card-header>
        <mat-card-title><h3>Crop and Production History</h3></mat-card-title>
      </mat-card-header>
      <ngx-datatable
        class="material"
        [headerHeight]="40"
        [limit]="10"
        [columnMode]="'force'"
        [footerHeight]="50"
        [rowHeight]="40"
        [rows]="rows">
        <ngx-datatable-column prop="CropName" name="Crop">
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
            <span
              title="{{value}}">
              {{value}}
            </span>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column cellClass='cellclass' prop="SalePrice" name="Price">
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
             <span
              title="Double dblclick to edit"
              (dblclick)="editing[rowIndex + '-Price'] = true"
              *ngIf="!editing[rowIndex + '-Price']">
              {{value}}
            </span>
            <input
            autofocus
            type="number"
            (keyup.enter)="updateValue($event, 'Price', rowIndex)"
            (blur)="updateValue($event, 'Price', rowIndex)"
            *ngIf="editing[rowIndex+ '-Price']"
            [value]="value"
             />
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="UoM">
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
            <span
              title="Uom">
              bu
            </span>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column cellClass='cellclass' prop="ProductionHistory1" name="2016">
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
             <span
              title="Double dblclick to edit"
              (dblclick)="editing[rowIndex + '-ProductionHistory1'] = true"
              *ngIf="!editing[rowIndex + '-ProductionHistory1']">
              {{value}}
            </span>
            <input
            type="number"
            autofocus
            (keyup.enter)="updateValue($event, 'ProductionHistory1', rowIndex)"
            (blur)="updateValue($event, 'ProductionHistory1', rowIndex)"
            *ngIf="editing[rowIndex+ '-ProductionHistory1']"
            [value]="value"
             />
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column cellClass='cellclass' prop="ProductionHistory2" name="2015">
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
             <span
              title="Double dblclick to edit"
              (dblclick)="editing[rowIndex + '-ProductionHistory2'] = true"
              *ngIf="!editing[rowIndex + '-ProductionHistory2']">
              {{value}}
            </span>
            <input
            type="number"
            autofocus
            (keyup.enter)="updateValue($event, 'ProductionHistory2', rowIndex)"
            (blur)="updateValue($event, 'ProductionHistory2', rowIndex)"
            *ngIf="editing[rowIndex+ '-ProductionHistory2']"
            [value]="value"
             />
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column cellClass='cellclass' prop="ProductionHistory3" name="2014">
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
             <span
              title="Double dblclick to edit"
              (dblclick)="editing[rowIndex + '-ProductionHistory3'] = true"
              *ngIf="!editing[rowIndex + '-ProductionHistory3']">
              {{value}}
            </span>
            <input
            type="number"
            autofocus
            (keyup.enter)="updateValue($event, 'ProductionHistory3', rowIndex)"
            (blur)="updateValue($event, 'ProductionHistory3', rowIndex)"
            *ngIf="editing[rowIndex+ '-ProductionHistory3']"
            [value]="value"
             />
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column cellClass='cellclass' prop="ProductionHistory4" name="2013">
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
             <span
              title="Double dblclick to edit"
              (dblclick)="editing[rowIndex + '-ProductionHistory4'] = true"
              *ngIf="!editing[rowIndex + '-ProductionHistory4']">
              {{value}}
            </span>
            <input
            type="number"
            autofocus
            (keyup.enter)="updateValue($event, 'ProductionHistory4', rowIndex)"
            (blur)="updateValue($event, 'ProductionHistory4', rowIndex)"
            *ngIf="editing[rowIndex+ '-ProductionHistory4']"
            [value]="value"
             />
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column cellClass='cellclass' prop="ProductionHistory5" name="2012">
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
             <span
              title="Double dblclick to edit"
              (dblclick)="editing[rowIndex + '-ProductionHistory5'] = true"
              *ngIf="!editing[rowIndex + '-ProductionHistory5']">
              {{value}}
            </span>
            <input
            type="number"
            autofocus
            (keyup.enter)="updateValue($event, 'ProductionHistory5', rowIndex)"
            (blur)="updateValue($event, 'ProductionHistory5', rowIndex)"
            *ngIf="editing[rowIndex+ '-ProductionHistory5']"
            [value]="value"
             />
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column cellClass='cellclass' prop="ProductionHistory6" name="2011">
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
             <span
              title="Double dblclick to edit"
              (dblclick)="editing[rowIndex + '-ProductionHistory6'] = true"
              *ngIf="!editing[rowIndex + '-ProductionHistory6']">
              {{value}}
            </span>
            <input
            type="number"
            autofocus
            (keyup.enter)="updateValue($event, 'ProductionHistory6', rowIndex)"
            (blur)="updateValue($event, 'ProductionHistory6', rowIndex)"
            *ngIf="editing[rowIndex+ '-ProductionHistory6']"
            [value]="value"
             />
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column prop="Avg3" name="3yr Avg">
            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value">
                {{value}}
              </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column prop="Avg6" name="6yr Avg">
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value">
              {{value}}
            </ng-template>
      </ngx-datatable-column>    
      <ngx-datatable-column prop="APH" name="APH">
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value">
          {{value}}
          </ng-template>
    </ngx-datatable-column>     
     </ngx-datatable>
    </mat-card>