<mat-card disabled=true>
  <mat-card-title>Naming Conventions</mat-card-title>

  <button name="btndelete" mat-raised-button color="accent" (click)="Deleterow()">Delete</button>
  <mat-form-field class="example-full-width">
    <mat-icon matPrefix>search</mat-icon>
    <input type="text" (change)="search($event)" matInput placeholder="Search">
</mat-form-field>
  <div class="my-container">
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>


<ag-grid-angular
#agGrid
style="height: 1000px;font-size:11px" 
id="myGrid"
[singleClickEdit]="true"
class="ag-theme-blue"
(cellEditingStopped)="celleditingstopped($event)"
[columnDefs]="columnDefs"
(selectionChanged)="onSelectionChanged()"
[rowSelection]="rowSelection"
[suppressRowClickSelection]="true"
[debug]="true"
[rowData]="rows"
[enableSorting]="true"
[enableFilter]="true"
[enableColResize]="true"
(gridReady)="onGridReady($event)"
[frameworkComponents]="frameworkComponents"
></ag-grid-angular>

</div>
</mat-card>